/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
    /*border: 1px solid red;*/
}



html {
    scroll-behavior: smooth;
}

:root {
    --firstColor: hsl(236, 72%, 79%);
    --secondColor: hsl(237, 63%, 64%);
    --veryLightGrayishBlue: hsl(240, 78%, 98%);
    --lightGrayishBlue: hsl(234, 14%, 74%);
    --grayishBlue: hsl(233, 13%, 49%);
    --darkGrayishBlue: hsl(232, 13%, 33%);
    --blackColor: #000;
    --whiteColor: hsl(0, 0%, 100%);
    --mainTransition: .3s;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
    background-color: var(--veryLightGrayishBlue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {}

a {
    display: block;
    transition: var(--mainTransition);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

/* Small */
@media (min-width: 768px) {

    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {

    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1400px) {
    .container {
        width: 1278px;
    }
}

.container h1 {
    text-align: center;
    color: var(--grayishBlue);
    padding-top: 4.2rem;
    margin-left: 40px;
    font-size: 1.9rem;
    letter-spacing: 0.5px;
}

.container .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 20px;
}

.container .toggle span {
    color: var(--lightGrayishBlue);
    margin-left: 44px;
    margin-right: 23px;
}

.container .toggle .check {
    margin-top: 30px;
    display: none;
}

.container .toggle .scheck {
    width: 55px;
    height: 33px;
    background-color: #787ce8;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    margin-right: -18px;
}

.container .toggle .scheck:hover {
    background-color: #c4c7f2;
}

.container .toggle .ball {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--whiteColor);
    top: 4px;
    right: 5px;
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-left: 31px;
}

.container .content .box {
    text-align: center;
    width: 350px;
    background-color: var(--whiteColor);
    padding: 30px;
}

.container .content .box:nth-child(1) {
    border-radius: 8px 0 0 8px;
}

.container .content .box:nth-child(2) {
    background: linear-gradient(135deg, rgba(163, 168, 240, 1) 50%, rgba(105, 111, 221, 1) 100%);
    color: var(--whiteColor);
    border-radius: 8px;
    transform: translateY(-5px);
    height: 590px;
}

.container .content .box:nth-child(3) {
    border-radius: 0 8px 8px 0;
}

.container .content .box h3 {
    color: var(--grayishBlue);
}

.container .content .box:nth-of-type(2) h3 {
    color: var(--whiteColor);
}

.container .content .box .price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container .content .box .price span {
    font-size: 2.6rem;
    margin-left: 27px;
    margin-top: -21px;
}

.container .content .box .price h2 {
    font-size: 4.5rem;
    margin-top: -18px;
    margin-left: 7px;
}

.container .content .box ul {}

.container .content .box:nth-of-type(2) li {
    color: var(--whiteColor);
}

.container .content .box ul li {
    padding: 25px;
    border-top: 1px solid #ddd;
    color: var(--lightGrayishBlue);
}

.container .content .box ul li:last-of-type {
    border-bottom: 1px solid #ddd;
}

.container .content .box a {
    display: block;
    color: var(--whiteColor);
    background: linear-gradient(135deg, rgba(163, 168, 240, 1) 50%, rgba(105, 111, 221, 1) 100%);
    border-radius: 6px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 30px auto;
    border: 1px solid transparent;
}

.container .content .box a:hover {
    background: var(--whiteColor);
    color: var(--darkGrayishBlue);
    border: 1px solid var(--darkGrayishBlue);
}

.container .content .box:nth-of-type(2) a {
    background: var(--whiteColor) !important;
    color: var(--darkGrayishBlue);
}

.container .content .box:nth-of-type(2) a:hover {
    background: linear-gradient(135deg, rgba(163, 168, 240, 1) 50%, rgba(105, 111, 221, 1) 100%) !important;
    border: 1px solid var(--whiteColor);
    color: var(--whiteColor);
}

@media(max-width: 991px) {
    .container .content {
        row-gap: 20px;
        margin-left: 0;
    }
    
    .container .content .box:nth-child(2) {
        transform: translateY(0px);
        height: 100%;
    }
}

@media(max-width: 375px) {
    .container .content .box {
        width: 325px;
    }
}